.contextMenu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;

  font-family: Arial, sans-serif;
  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;

  z-index: 1200;
}

.contextMenu ul {
  list-style-type: none;
  margin: 4px 0px;
  padding: 0px;
  cursor: default;
}

.contextMenu ul li {
  padding: 4px 16px;
}

.contextMenu ul li:hover {
  background-color: #4677f8;
  /*background-color: #4677f8;*/
  color: #fefefe;
}

/* .contextMenu
{
  width:200 px;
  height:150 px;
  overflow-y: auto;
}

.contextMenu a
{
  background-color : #eee ;
  color: black;
  display : block
  padding: 12px;
  text-decoration: none;
}

.contextMenu a:hover
{
  background-color : #ccc;
}

.contextMenu a.active
{
  background-color:  #4CAF50;
  color: White;
} */
