
path {
  fill: none;
  stroke: #ccc;
}

text {
  pointer-events: none;
  font-family: 'Playfair Display', serif;
}

#ruler {
  visibility: hidden;
  white-space: nowrap;
  font-family: 'Playfair Display', serif;
  font-size: '16px';
  font-weight, '400';
}

#treeContainer {
}

/* .cursor{
  z-index : 999;
} */
