

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  /* padding-bottom: 100%; */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block
  position: absolute;
  /* top: 10px; */
  /* left: 0; */
}

highlight {
  fill: none;
  stroke: 'black';
  stroke-opacity: 1;
}

path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: 1;
}

text {
  pointer-events: none;
  font-family: 'Playfair Display', serif;
}

.nodeText:hover, .nodeText:active {
  text-decoration: underline;
}

#ruler {
  visibility: hidden;
  white-space: nowrap;
  font-family: 'Playfair Display', serif;
  font-size: '16px';
  font-weight, '400';
}


/* .cursor{
  z-index : 999;
} */
